
body {
		background-color: cyan;
		color: 	#000080;
	}

h1 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 45px;
}
h2 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 37.5px;
h3 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 37.5px;
}
p {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 37.5px;
}
blockquote {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
}
pre {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 19.5px;
}
